{% block stylesheets %}
	<style>
		/* Navigation */
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			top: 0;
			z-index: 999;
			background-color: transparent;
			padding: 20px 0;
			font-family: 'Montserrat', sans-serif;
		}

		nav ul {
			display: flex;
			list-style: none;
			margin-left: 50px;
			justify-content: center; /* Add this */
			align-items: center;
		}

		.title {
			display: none;
		}

		nav ul li {
			margin-right: 20px;
			border-bottom: 1px solid transparent;
		}

		nav ul li a {
			position: relative;
			color: #000;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
		}

		nav ul li a::before {
			content: "";
			position: absolute;
			width: 0;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: #000;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
		}

		nav ul li a:hover::before {
			visibility: visible;
			width: 100%;
		}

		nav ul li.active a::before {
			visibility: visible;
			width: 100%;
		}


		.logo {
			display: flex;
			align-items: center;
			margin-left: 10px;
		}

		.logo img {
			width: 100px;
			height: auto;
			margin-right: 20px;
		}

		.button-list a.button {
			background-color: #FF9585;
			color: #fff;
			border: none;
			padding: 10px 20px;
			cursor: pointer;
		}

		.button-list a.button:hover {
			background-color: #FFAFA0;
			text-decoration: none;
		}

		/* Dropdown */
		.nav-dropdown {
			position: relative;
			display: inline-block;
			cursor: pointer;
			margin-right: 3vw;
		}

		.nav-dropdown-content {
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
			z-index: 1;
			/* max-width: 200px; ou toute autre valeur appropriée */
			right: 0;
			top: 100%;
			margin-top: 5px; /* ou toute autre valeur appropriée */
		}

		.nav-dropdown.active .nav-dropdown-content {
			display: block;
		}

		.nav-dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.nav-dropdown-content a:hover {
			background-color: #ddd;
		}



		/* Menu burger */
		.menu-toggle {
			display: none;
			position: absolute;
			top: 50%;
			right: 60px;
			transform: translateY(-50%);
		}

		.burger,
		.burger.second-line {
			width: 30px;
			height: 3px;
			background-color: black;
			display: block;
			position: absolute;
			left: 20px;
			transition: 0.5s;
		}

		.burger.second-line {
			top: 10px;
		}

		.burger.hide {
			display: none;
		}

		.cross {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 30px;
			height: 30px;
		}

		.cross:before,
		.cross:after {
			content: "";
			position: absolute;
			height: 3px;
			width: 100%;
			background-color: black;
			top: 50%;
			transform: translateY(-50%);
		}

		.cross:before {
			transform: rotate(45deg);
		}

		.cross:after {
			transform: rotate(-45deg);
		}
		/* Ajouter des transitions pour le burger et la croix */
		.burger,
		.burger.second-line,
		.cross:before,
		.cross:after {
			transition: transform 0.3s, opacity 0.3s;
		}

		/* Animer le burger lors de l'ouverture du menu */
		.menu-toggle.hide-burger .burger {
			transform: translateY(10px) rotate(45deg);
			opacity: 0;
		}

		.menu-toggle.hide-burger .burger.second-line {
			transform: translateY(-10px) rotate(-45deg);
			opacity: 0;
		}

		/* Ajouter une transition pour le menu */
		.fullscreen-menu {
			transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
			transform: translateY(-100%);
		}

		.fullscreen-menu.show {
			transform: translateY(0%);
		}


		/* Menu plein écran */
		.fullscreen-menu {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			z-index: 1000;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s, visibility 0.5s;
			padding: 0;
		}

		.fullscreen-menu.show {
			opacity: 1;
			visibility: visible;
		}

		.fullscreen-menu ul {
			list-style-type: none;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.fullscreen-menu ul li {
			margin-bottom: 20px;
		}

		.fullscreen-menu ul li:last-child {
			margin-bottom: 0;
		}

		.fullscreen-menu ul li a {
			text-decoration: none;
			color: #000;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size: 24px;
			text-transform: uppercase;
		}

		/* Boutons */
		.button-list {
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0;
		}

		.button-list a {
			text-decoration: none;
			font-size: 16px;
		}

		/* Media queries pour les écrans entre 1200px et 1121px */
		@media(max-width: 1200px) {
			nav ul li a,
			.button-list a {
				font-size: 14px;
			}

			nav ul li {
				margin-right: 10px;
			}

			.button-list li {
				margin-right: 10px;
			}

			.button-list a.button {
				font-size: 14px;
				padding: 8px 16px;
			}
		}

		/* Media queries pour les écrans entre 1120px et 769px */
		@media(max-width: 1120px) and(min-width: 769px) {
			nav ul li a,
			.button-list a {
				font-size: 12px;
			}

			nav ul li {
				margin-right: 5px;
			}

			.button-list li {
				margin-right: 5px;
			}
		}

		/* Media queries pour les écrans plus petits que 769px */
		@media(max-width: 768px) {
			nav {
				flex-direction: column;
				align-items: flex-start;
			}

			.title {
				display: block;
				font-size: 7vw;
			}

			nav ul {
				margin-top: 10px;
				flex-direction: column;
				display: none;
			}

			nav ul li {
				margin-right: 0;
				margin-bottom: 10px;
				border-bottom: none;
			}

			nav ul li a,
			.button-list a {
				font-size: 12px;
			}

			.button-list {
				display: none;
			}

			.menu-toggle {
				display: block;
				cursor: pointer;
				font-size: 24px;
				margin-right: 20px;
			}

			.show-menu ul {
				display: flex;
				flex-direction: column;
			}

			.show-menu li {
				margin-right: 0;
				margin-bottom: 10px;
				border-bottom: none;
			}

			.show-menu .button-list {
				display: flex;
				flex-direction: column;
				margin-right: 0;
			}

			.show-menu .button-list li {
				margin-bottom: 10px;
			}

			.show-menu .button-list li:last-child {
				margin-bottom: 0;
			}
		}
	</style>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap" rel="stylesheet">


{% endblock %}

{% block scripts %}
	<script>

document.addEventListener("DOMContentLoaded", () => {
const burger = document.querySelector(".burger");
const fullscreenMenu = document.querySelector(".fullscreen-menu");
const menuToggle = document.querySelector(".menu-toggle");
const cross = document.querySelector(".fullscreen-menu .cross");
const accountButton = document.querySelector(".nav-dropdown");

const toggleMenu = () => {
burger.classList.toggle("hide");
cross.classList.toggle("hide");
fullscreenMenu.classList.toggle("show");
menuToggle.classList.toggle("hide-burger");
};

// Événements pour ouvrir et fermer le menu
menuToggle.addEventListener("click", toggleMenu);
cross.addEventListener("click", toggleMenu);

let mouseDown = false;

accountButton.addEventListener("mousedown", function () {
mouseDown = true;
});

accountButton.addEventListener("mouseup", function () {
if (mouseDown) {
this.classList.toggle("active");
mouseDown = false;
}
});

accountButton.addEventListener("mouseleave", function () {
mouseDown = false;
});
});
	</script>
{% endblock %}


{% block body %}
	<nav>
		<div class="logo">
			<img src="{{ asset('assets/logo/pet-hotel-sign-with-a-dog-and-a-cat-under-a-roof-line.png') }}" alt="Your Logo">
			<span class="title">WildZ</span>
		</div>
		<ul class="hide-menu">
			<li class="{{ app.request.get('_route') == 'app_service' ? 'active' : '' }}">
				<a href="{{ path('app_service') }}">Nos Services</a>
			</li>
			<li class="{{ app.request.get('_route') == 'app_home' ? 'active' : '' }}">
				<a href="{{ path('app_home') }}">Notre Mission</a>
			</li>
			<li class="{{ app.request.get('_route') == 'user_cats' ? 'active' : '' }}">
				<a href="{{ path('user_cats') }}">Nos Chats</a>
			</li>
			<li class="{{ app.request.get('_route') == 'user_dogs' ? 'active' : '' }}">
				<a href="{{ path('user_dogs') }}">Nos Chiens</a>
			</li>
		</ul>
		<ul class="button-list">
			{% if app.user is null %}
				<li>
					<a href="{{ path('app_login') }}" class="button">Connexion</a>
				</li>
			{% else %}
				<li class="nav-dropdown">
					<a href="#" class="button dropbtn">Mon compte</a>
					<div class="nav-dropdown-content">
						<a href="{{ path('app_user_profile_edit', {'id': app.user.id}) }}">Profile</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('home.index') }}">Espace Administrateur</a>
						{% endif %}
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				</li>
			{% endif %}
		</ul>
		<div class="menu-toggle" aria-label="Menu" aria-expanded="false">
			<span class="burger"></span>
			<span class="burger second-line"></span>
		</div>
	</nav>
	<div class="fullscreen-menu hide">
		<span class="cross"></span>
		<ul>
			<li class="{{ app.request.get('_route') == 'app_home' ? 'active' : '' }}">
				<a href="{{ path('app_home') }}">Notre Mission</a>
			</li>
			<li>
				<a href="{{ path('app_service') }}">Nos Services</a>
			</li>
			<li class="{{ app.request.get('_route') == 'user_cats' ? 'active' : '' }}">
				<a href="{{ path('user_cats') }}">Nos Chats</a>
			</li>
			<li class="{{ app.request.get('_route') == 'user_dogs' ? 'active' : '' }}">
				<a href="{{ path('user_dogs') }}">Nos Chiens</a>
			</li>
			{% if app.user is null %}
				<li>
					<a href="{{ path('app_login') }}" class="button">Connexion</a>
				</li>
			{% else %}
				<li>
					<a href="{{ path('app_user_profile_edit', {'id': app.user.id}) }}" class="button">Mon compte</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('home.index') }}" class="button">Espace Administrateur</a>
					</li>
				{% endif %}
				<li>
					<a href="{{ path('app_logout') }}" class="button">Déconnexion</a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}
