{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				{{ form_start(form) }}
				{{ form_errors(form) }}
				{{ form_widget(form._token) }}
					<div class="form-group">
						{{ form_label(form.name) }}
						{{ form_widget(form.name) }}
						{{ form_errors(form.name) }}
					</div>

					<div class="form-group">
						{{ form_label(form.imageFile) }}
						{{ form_widget(form.imageFile, {'attr': {'class': 'form-control', 'onchange': 'previewImage(event)'}}) }}
						{{ form_errors(form.imageFile) }}
					</div>

				{# Display the image preview container #}
				<div class="card mt-4" id="image-preview" style="display: none;">
					<img src="" alt="Image Preview" class="card-img-top" id="image-preview-src">
				</div>

				<div class="d-flex justify-content-center mt-5 mb-5">
					<button type="submit" class="btn btn-primary me-4">Créer</button>
					<a class="btn btn-secondary" href="{{ path('app_dog_race_index') }}">Retour</a>
				</div>
			</div>
		</div>
	</div>

	{# JavaScript to handle image preview #}
	{% block javascripts %}
		<script>
			function previewImage(event) {
				const input = event.target;
				const previewContainer = document.getElementById('image-preview');
				const previewImage = document.getElementById('image-preview-src');

				if (input.files && input.files[0]) {
					const reader = new FileReader();

					reader.onload = function (e) {
						previewImage.src = e.target.result;
						previewContainer.style.display = 'block';
					};

					reader.readAsDataURL(input.files[0]);
				} else {
					previewContainer.style.display = 'none';
				}
			}
		</script>
	{% endblock %}
{% endblock %}
