{% extends 'base2.html.twig' %}

{% block title %}Changer le mot de passe
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/form.css') }}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="form-title">Changer le mot de passe</h1>

        {{ form_start(form) }}
        <div class="form-field">
            {{ form_label(form.oldPassword) }}
            {{ form_widget(form.oldPassword, {'attr': {'class': 'form-input', 'placeholder': 'Mot de passe actuel', 'autocomplete': 'current-password'}}) }}
        </div>
        <div class="form-field">
            {{ form_label(form.newPassword) }}
            {{ form_widget(form.newPassword, {'attr': {'class': 'form-input', 'placeholder': 'Nouveau mot de passe', 'autocomplete': 'new-password'}}) }}
        </div>

        <button class="inscription-btn" type="submit">Changer le mot de passe</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
