{% extends 'base.html.twig' %}

{% block title %}CatRace index{% endblock %}

{% block body %}
    <h1>CatRace index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cat_race in cat_races %}
            <tr>
                <td>{{ cat_race.id }}</td>
                <td>{{ cat_race.name }}</td>
                <td>{{ cat_race.createdAt ? cat_race.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_cat_race_show', {'id': cat_race.id}) }}">show</a>
                    <a href="{{ path('app_cat_race_edit', {'id': cat_race.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cat_race_new') }}">Create new</a>
{% endblock %}
