{% extends 'base.html.twig' %}

{% block title %}Détail
{% endblock %}

{% block body %}
	<div class="container my-4">
		<h1 class="text-center mt-5 mb-5">Race de chat
			{{ cat_race.name }}</h1>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th class="text-center">Id</th>
						<td class="text-center">{{ cat_race.id }}</td>
					</tr>
					<tr>
						<th class="text-center">Nom</th>
						<td class="text-center">{{ cat_race.name }}</td>
					</tr>
					<tr>
						<th class="text-center">Image</th>
						<td class="text-center">
							{% if cat_race.imageName %}
								<a href="{{ asset('images/post/' ~ cat_race.imageName) }}" target="_blank">
									<img src="{{ asset('images/post/' ~ cat_race.imageName) }}" alt="{{ cat_race.name }}" width="100">
								</a>
							{% else %}
								Il n'y a pas d'image
							{% endif %}
						</td>
					</tr>
					<tr>
						<th class="text-center">Créé le</th>
						<td class="text-center">{{ cat_race.createdAt ? cat_race.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th class="text-center">Modifié le</th>
						<td class="text-center">{{ cat_race.updatedAt ? cat_race.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="d-flex justify-content-center align-items-center gap-2 mt-5">
			<a href="{{ path('app_cat_race_index') }}" class="btn btn-secondary">Retour</a>

			<a href="{{ path('app_cat_race_edit', {'id': cat_race.id}) }}" class="btn btn-primary">Modifier</a>

			{{ include('pages/cat_race/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
